body{
    background: url('./cards/newBackground.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.playerSectionContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

h1{
    font-size: 50px;
    
}
.btn{
    background-color: aliceblue;
    color: rgb(96, 92, 92);
    margin: 20px;
}
.images{
    flex-direction: row;
}

.bottom{
margin-top: 100px;
}

img{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    margin: 2px;
    transition:  width 1s, height 1s ;
    transition-delay: 1s;
}

.show {
    width: 150px;
    height: 150px;
}


#result{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    font-weight: 900;
    color: grey;
    -webkit-text-stroke: 1px white;
    
}

#aiResult {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: grey;
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
}
.bottom {
    margin-top: 110px;
}
h2{
    -webkit-text-stroke: 1px white;
}